# Configuration file

general {

    main {
        # The URL of the remote .json configs
        S:"Configs URL"=

        # Slug name of the modpack (Leave blank for non-Technic packs)
        S:"Modpack Slug"=
    }

    logins {
        # Disables fireworks for special logins
        B:"Disable Fireworks"=true

        # Disables all special logins features
        B:"Disable Special Logins"=true
    }

}


